// Colors
$Light_green: #7ed56f;
$Medium_green: #55c57a;
$Dark_green: #28b485;
$Green_08: rgba(126, 213, 111, 0.8);
$Dark_green02: rgba(40, 180, 133, 0.8);
$white: #fff;

$default: #777;
$gray_dark: #999;
$gray_darkest: #333;

$secondary-light: #ffb900;
$secondary-dark: #ff7730;

$tertiary-light: #2998ff;
$tertiary-dark: #5643fa;

$light-gray: #f7f7f7;
$light-gray-2: #eee;

// FONTS
$default-font-size: 1.6rem;

// GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
